window#osd {
    border-radius: 30px;
    border: none;
    background: rgba(255, 255, 255, 0.85);
}

window#osd #container {
    margin: 18px 24px;
    min-width: 280px;
}

window#osd image {
    color: #ffffff;
    margin-right: 14px;
}

window#osd label {
    color: #333333;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

window#osd progressbar,
window#osd segmentedprogress {
    min-height: 10px;
    border-radius: 9px;
    background: transparent;
    border: none;
}

window#osd trough,
window#osd segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(0, 0, 0, 0.1);
}

window#osd progress,
window#osd segment.active {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #007AFF;
}

window#osd progressbar:disabled,
window#osd image:disabled {
    opacity: 0.5;
}

window#osd segment {
    margin-left: 8px;
}

window#osd segment:first-child {
    margin-left: 0;
}
