// Edit with `hyprshell config edit`
(
    version: 3,
    windows: (
        scale: 7.0,
        items_per_row: 5,
        overview: None,
        switch: (
            modifier: "super",
            key: "Tab",
            filter_by: [],
            switch_workspaces: false,
            exclude_special_workspaces: "",
        ),
        switch_2: None,
    ),
)